<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>084</key>
	<string>/s084</string>
	<key>085</key>
	<string>/s085</string>
	<key>086</key>
	<string>/s086</string>
	<key>087</key>
	<string>/s087</string>
	<key>088</key>
	<string>/s088</string>
	<key>089</key>
	<string>/s089</string>
	<key>090</key>
	<string>/s090</string>
	<key>091</key>
	<string>/s091</string>
	<key>092</key>
	<string>/s092</string>
	<key>093</key>
	<string>/s093</string>
	<key>094</key>
	<string>/s094</string>
	<key>095</key>
	<string>/s095</string>
	<key>096</key>
	<string>/s096</string>
	<key>097</key>
	<string>/s097</string>
	<key>098</key>
	<string>/s098</string>
	<key>099</key>
	<string>/s099</string>
	<key>100</key>
	<string>/s100</string>
	<key>101</key>
	<string>/s101</string>
	<key>102</key>
	<string>/s102</string>
	<key>103</key>
	<string>/s103</string>
	<key>104</key>
	<string>/s104</string>
</dict>
</plist>
