<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>505</key>
	<string>/s505</string>
	<key>506</key>
	<string>/s506</string>
	<key>507</key>
	<string>/s507</string>
	<key>508</key>
	<string>/s508</string>
	<key>509</key>
	<string>/s509</string>
	<key>510</key>
	<string>/s510</string>
	<key>511</key>
	<string>/s511</string>
	<key>512</key>
	<string>/s512</string>
	<key>513</key>
	<string>/s513</string>
	<key>514</key>
	<string>/s514</string>
	<key>515</key>
	<string>/s515</string>
	<key>516</key>
	<string>/s516</string>
	<key>517</key>
	<string>/s517</string>
	<key>518</key>
	<string>/s518</string>
	<key>519</key>
	<string>/s519</string>
	<key>520</key>
	<string>/s520</string>
	<key>521</key>
	<string>/s521</string>
	<key>522</key>
	<string>/s522</string>
	<key>523</key>
	<string>/s523</string>
	<key>524</key>
	<string>/s524</string>
	<key>525</key>
	<string>/s525</string>
</dict>
</plist>
